body {
    background-color: #210B61;
	font-family: Tahoma, Geneva, sans-serif;
}

#box{
	margin: auto;
	border-radius: 20px;
    background: #F2F2F2;
    padding: 20px; 
    width: 500px;
    /*height: 350px;*/ 
}

h1{
	color: #F2F2F2;
}

#tabla{
	width: 95%;
	padding: 10px;
	margin: 5px;
}

table{
	width: 520px;
	padding: 10px;
	margin: auto;
}

td,h3{
	vertical-align: middle;
	text-align: center;
}

button{
	width: 15%;
	padding: 5px 7px;
	margin: 5px;
	text-align: center;
    text-decoration: none;
    display: inline-block;
	border-radius: 4px;
	color: white;
}

#comment{
	color: #F2F2F2;
	text-align: center;
	padding: 2px;
	font-size: 0.75em;
}

#bottom_txt{
	color: #F2F2F2;
	position: fixed;
	bottom: 0px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	padding: 5px;
	font-size: 0.75em;
}

#move{
	background-color: #4CAF50;
}

#stop{
	background-color: #FF0000;
}

#azmv,#elmv{
	width: 50px;
}

#pvalues{
	vertical-align: middle;
}