<head>
    <title>GranaSAT Rotors</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js"></script>
    <script src="static/heading.js"></script>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
	<table>
	<tr><td>
    <img src="http://granasat.ugr.es/images/logotipos/op1.png" id="logo"></td><td>
	<h1>GranaSAT Rotors Control</h1></td></tr>
	</table>
    <!-- <p id="azimutData"></p>
    <p id="elevationData"></p> -->
	
	<div id="box">
		<table id="tabla">
			<tr><td>
				<div class="main-rotator" id="rot_az">
					<h3 id="main-rotator-heading">Azimuth</h3>
					<div id="heading-wrap">
						<canvas id="headingAzimut" width="200" height="200"></canvas>
					</div>
				</div>
			</td><td>
				<div class="main-rotator" id="rot_el">
					<h3 id="main-rotator-heading">Elevation</h3>
					<div id="heading-wrap">
						<canvas id="headingElevation" width="200" height="200"></canvas>
					</div>
				</div>
			</td></tr>
			<tr><td id="pvalues">
				Azimuth New:
				<input type="number" id="azmv" name="A" min="0" max="450"></br>
				0<input type="range" id="azslider" name="AS" min="0" max="450" oninput="printValue('azmv','azslider')">450
			</td><td id="pvalues">
				Elevation New: 
				<input type="number" id="elmv" name="E" min="0" max="180"></br>
				0<input type="range" id="elslider" name="ES" min="0" max="180" oninput="printValue('elmv','elslider')">180
			</td>
			</tr>
			<tr><td colspan="2">
				<button type="button" id="move">MOVE</button>
				<button type="button" id="stop">STOP</button>
			</td></tr>
		</table>
	</div>
	<p id="comment">GranaSAT 2016 - <a href="/logout">Logout</a></p>
	<p id="bottom_txt">Acknowledgments: To the <a href="http://www.esa.int/ESA">ESA</a> and the 2016 <a href="http://sophia.estec.esa.int/socis/">SOCIS</a> program.</p>
</body>

<script>
    $(document).ready(function(){

        heading_options_large = {
            scale: 2,
            font: "normal 14pt Arial",
            color: "#000",
            needleColor: "blue",
            needleColorRing: "yellow",
            lineWidth: 3
        }

        indicatorOptions = {
            scale: 2,
            font: "normal 14pt Arial",
            color: "yellow",
            lineWidth: 3
        }

        var canvasAzimut = document.getElementById('headingAzimut');
        if (canvasAzimut.getContext('2d')) {
            var ctxAzimut = canvasAzimut.getContext('2d');
        }

        var canvasElevation = document.getElementById('headingElevation');
        if (canvasElevation.getContext('2d')) {
            var ctxElevation = canvasElevation.getContext('2d');
        }
	
		//Schedule a job every 100ms where the jQuery GET command is executed
        
		setInterval(function () {
            $.get( "getDataLgd/azimut", function( data ) {
				data=data.replace("?>", "");
				azimut=data.match(/[0-9]{1,4}/);
                //$( "#azimutData" ).html("Azimut: " + azimut + "º");
                ctxAzimut.clearRect(0, 0, canvasAzimut.width, canvasAzimut.height)
                draw_heading_canvasAz(azimut,ctxAzimut,heading_options_large,true);
				document.getElementById("azmv").defaultValue = azimut;
            });
				
            $.get( "getDataLgd/elevation", function( data ) {
				data=data.replace("?>", "");
				elevation=data.match(/[0-9]{1,4}/);
                //$( "#elevationData" ).html("Elevation: " + data + "º");
                ctxElevation.clearRect(0, 0, canvasElevation.width, canvasElevation.height)
                draw_heading_canvasEl(elevation,ctxElevation,heading_options_large,true);
				document.getElementById("elmv").defaultValue = elevation;
            });
			
		},1000);
		
		setInterval(function () {
            printValue('elslider', 'elmv'); 
			printValue('azslider', 'azmv'); 
		},1000);
    });
	
	$(function() {
      $('#move').bind('click', function() {
        $.getJSON('/sendData', {
          a: $('input[name="A"]').val(),
          e: $('input[name="E"]').val()
        });
      });
	  $('#stop').bind('click', function() {
        $.getJSON('/sendStop');
      });
    });
	
	function printValue(dest, orig) {
        var x = document.getElementById(dest);
        var y = document.getElementById(orig);
        x.value = y.value;
    }

</script>

<script>
	setInterval(() => {
		fetch('/keepAlive')
	}, 5000) // We let the server know we are here each 5000 seconds.
</script>
